#first {
    background-color: aquamarine;
}

#second {
    background-color: cadetblue;
}

#third {
    background-color: darkgoldenrod;
}

.container {
    text-align: center;
}

.col-sm {
    padding: 15px 20px;
    margin: 5px;
}